* {
  margin: 0
}

.App {
  background-color: #fafafa;
}

.header {
  background-color: white;
  border-bottom: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
}

.instagramLogo {
  padding: 18px;
  align-items: center;
  object-fit: contain;
}

.alignVerticallyCenter {
  align-items: center;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}